.AddJobContainer {
    width: 77%;
    margin: 1em auto auto;
}

.AddJobContainer h1
{
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
}

.AddJobContainer TextArea {
    width: 99.5%;
    height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
}

select {
    width: 48%;
    height: 2.5em;
}

select:nth-child(odd)
{
    float: right;
}

@media (max-width: 800px){
    .AddJobContainer {
        width: 90%;
    }

    .AddJobContainer TextArea {
        width: 98.5%;
    }
}