html, body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav .menu {
  width: 77%;
  margin: auto;
}

.menu-right {
  float: right;
}

.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav .active {
  background-color: #ddd;
  color: black;
}

.topnav a:first-child {

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.breadcrumbs {
  width: 77%;
  margin: auto;
}

.subnav {
  height: 2em;
  background-color: #999999;
}

.subnav a {
  padding-top: 3px;
  padding-bottom: 3px;
  display: inline-block;
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.subnav a:hover {
  text-decoration: underline;
}


@media (max-width: 800px){
  .topnav .menu {
    width: 90%;
  }
}