.jobs {
    width: 77%;
    margin: 1em auto auto;
}

.job {
    box-sizing: border-box;
    width: 100%;
    height: 5em;
    padding: 0.5em;
    overflow: hidden;
    outline: 1px solid #999999;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    display: block;
    width: 100%;
    margin: 5px 5px 0.8em;
    text-decoration: none;
    color: black;
}

.job:hover {
    outline: 1px solid black;
    text-decoration: underline;
}

.job a {
    display: block;
    text-decoration: none;
    color: black;
}

.job h3 {
    margin: 0;
    padding: 0;
}

.job:nth-child(odd)
{
    background-color: #cccccc;
}

.pagelinks {
    float: right;
    margin-bottom: 0.5em;
}

.pagelinks span {
    text-decoration: underline;
    margin-right: 0.2em;
}

.pagelinks span:last-of-type {
    margin-right: 0;
}

.pagelinks span:hover {
    cursor: pointer;
}
