.loginContainer {
  width: 77%;
  margin: 1em auto auto;
}

.loginForm {
  width: 100%;
}

.loginForm > input {
  background-color: transparent;
  color: black;
  outline: 0;
  border-width: 0 0 2px;
  border-color: grey;
  width: 100%;
  margin-bottom: 1.5em;
}

.loginForm > button {
  display: block;
  background-color: #505050;
  border-color: transparent;
  border-radius: 5px;
  width: 100%;
  margin-top: 3em;
  color: white;
  height: 3em;
}