.profileContainer {
    width: 77%;
    margin: 1em auto auto;
}

.profileContainer h2 {
    margin-top: 1em;
}

.profileContainer ul{
    padding: 0 0 0 1em;
    list-style: none;
}

.profileContainer a {
    color: black;
}