.regions {
    width: 77%;
    margin: 1em auto auto;
}
.regions div {
    outline: 1px solid #999999;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.75);
    height: 3em;
    display: block;
    width: 32%;
    float: left;
    text-align: center;
    margin: 5px;
    line-height: 3em;
    font-size: 1.2em;
    padding: 0;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.regions div:hover {
    outline: 1px solid black;
    text-decoration: underline;
}

.regions div:nth-child(odd) {
    background-color: #c0c0c0;
}

@media (max-width: 800px){
    .regions {
        width: 90%;
    }

    .regions div{
        width: 100%;
    }
}

@media (min-width: 801px) and (max-width: 1079px){
    .regions {
        width: 90%;
    }

    .regions div{
        width: 45%;
    }

    .regions div {
        background-color: #ffffff;
    }

    .regions div:nth-child(odd) {
        background-color: #ffffff;
    }

    .regions div:nth-child(4n + 1) {
        background-color: #c0c0c0;
    }

    .regions div:nth-child(4n + 4) {
        background-color: #c0c0c0;
    }

}